@import "../../styles/variables.scss";

.tags {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.tag {
  display: inline-block;
  background-color: $color-pale-grey;
  padding: 4px;
  margin: 0 4px 4px 0;
  border-radius: 4px;

  a {
    color: $color-text;
  }
}
