$color-bg-all: #fafafa;
$color-white: white;

$height-header: 60px;
$height-footer: 60px;

$margin-size: 16px;

$container-width: 600px;
@mixin container() {
  width: 100%;

  @media all and (min-width: $container-width) {
    width: $container-width;
    margin: 0 auto;
  }
}

@mixin box-shadow() {
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
}
