@import "../../styles/variables.scss";

.container {
  height: $height-header;
  line-height: $height-header;
  width: 100%;
  border: 1px solid $color-pale-grey;
}

.contents {
  @include container;
  display: flex;
  justify-content: space-between;
}

.title {
  font-weight: bold;
}
