.container {
  display: flex;
}

.containerBoth {
  justify-content: space-between;
}

.containerOnlyPrevious {
  justify-content: flex-start;
}

.containerOnlyNext {
  justify-content: flex-end;
}
